<label>Starting year <input type="text" id="startyear"></input></label>
<label>Ending year<input type="text" id="endyear"></input></label>
<button type="button" id="go">Let's go</button>
<form>
  <label><input type="radio" name="mode" value="grouped"> Grouped</label>
  <label><input type="radio" name="mode" value="stacked" checked> Stacked</label>
</form>
<div id="svgcontainer">
</div>
<div id="films">
</div>
